<h4>Kraakspeelgoed</h4>
<p>In deze webshop vind je verschillende babyspeeltjes, die een ding gemeen hebben: alles kraakt en knispert.</p>

<p>Bij mijn kinderen merkte ik dat krakende dingen erg in de smaak vielen. Naar mijn zin waren -en zijn- er te weinig leuke en eenvoudige kraakspeeltjes. Bovendien miste ik de combinatie van kraakstofjes en harde materialen om lekker op te kunnen bijten om zo het doorkomen van de tandjes te bevorderen. Voor mijn tweede kind heb ik daarom een kraakdoekje in elkaar gezet. De kleine meid was er helemaal weg van.</p>
    <p>Sindsdien heb ik een vele kraakdoekjes en -knuffels cadeau gedaan. Deze kraamcadeau's vielen zo in de smaak, dat ik heb besloten mijn hobby uit te bouwen en een eigen webwinkeltje te beginnen.</p>

<h4>Materiaal</h4>
<p>Het materiaal van de speeltjes varieert, maar ik gebruik het liefst katoen. Alle speeltjes zijn uniek, omdat alles gemaakt is van tweedehands of restjes stof, geperforeerde plasticverpakkingen, oude spijkerbroeken, surprise eieren en gordijnringen.</p>
    <p>Omdat baby's in het begin van hun leven voornamelijk contouren zien, gebruik ik zoveel mogelijk stofjes met contrasterende kleuren.</p>

<h4>Handwerk</h4>
<p>Alle producten zijn hand/machinegemaakt. Speeltjes kunnen daarom schoonheidsfoutjes hebben.</p>

<h4>Knijper</h4>
<p>Bijna alle doekjes hebben een bretelknijper, waarmee je als je onderweg bent het speeltje aan de kinderwagen of kleding van je kindje kunt vastmaken, waardoor je het speeltje niet verliest.</p>

<h4>Wasvoorschrift</h4>
<p>Tenzij anders wordt vermeld, kunnen de knisperdoekjes en knuffels met gelijke kleuren op 40 °C gewassen worden.</p>